<div class="main">
    <div class="page">
        <!-- <div class="aboutusrow" style="flex-basis: 5%;"> 
            <div class = "title">
                About us
            </div>
        </div>  -->
        <div class="aboutusrow" style="flex-basis: 65%;">
            <div class = "row1col1">
                <div class = "row11">
                    <div class = "infocard">
                        <div class ="infoname"> 
                            <b>Vaishnavi Sunil Desai</b>
                        </div>
                        <div class = "information">
                            4th Year B.Tech student styuding in Usha Mittal Institute of Technology.<br>
                            Tech Enthisiast. Learner. Developer. Innovator<br><br>
                            <u>Email:</u> vaishnavisdesai@gmail.com
                        </div>
                    </div>
                    <div class = "infocard">
                        <div class ="infoname"> 
                            <b>Jhanvi Sunil Desai</b>
                        </div>
                        <div class = "information">
                            2nd Year B.Tech student styuding in Usha Mittal Institute of Technology.<br>
                            I love being curious. I am a diligent worker and I love to help everyone around me.
                            <br><br>
                            <u>Email:</u> jhanvisdesai@gmail.com
                        </div>
                    </div>
                </div>
                <div class = "row11">
                    <div class = "infocard">
                        <div class ="infoname"> 
                           <b>Srishti Jena</b>
                        </div>
                        <div class = "information">
                            2nd Year B.Tech student styuding in Usha Mittal Institute of Technology.<br>
                            Just like Dickens' " The mystery....." : Alluring, Unfinishe- .Passionate, goal driven and a zany blend of finesse and flamboyance
                            <br><br>
                            <u>Email:</u> jena.srishti@gmail.com
                        </div>
                    </div>
                    <div class = "infocard">
                        <div class ="infoname"> 
                            <b>Manavi Mohan Marnad</b>
                        </div>
                        <div class = "information">
                            2nd Year B.Tech student styuding in Usha Mittal Institute of Technology.<br>
                            It's the unknown that draws people. Mysterious. Curious. Goal-driven.
                            <br><br>
                            <u>Email:</u> jhanvisdesai@gmail.com
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row1col2">
                <div class = "row12">
                    <div class = "namecard">
                        <div class ="photo" style="background-image: url(../../assets/images/vaish.png);"> 

                        </div>
                        <div class = "name">
                            Vaishnavi Sunil Desai
                        </div>
                    </div>
                    <div class = "namecard">
                        <div class ="photo" style="background-image: url(../../assets/images/jhanvi.png);"> 

                        </div>
                        <div class = "name">
                            Jhanvi Sunil Desai
                        </div>
                    </div>
                </div>
                <div class = "row12">
                    <div class = "namecard">
                        <div class ="photo" style="background-image: url(../../assets/images/srishti.png);"> 

                        </div>
                        <div class = "name">
                            Srishti Jena
                        </div>
                    </div>
                    <div class = "namecard">
                        <div class ="photo" style="background-image: url(../../assets/images/manavi.png);"> 

                        </div>
                        <div class = "name">
                            Manavi Mohan Marnad
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aboutusrow" style="flex-basis: 35%;"> 
            <div class = "row2col1">
                <div class = "logo">

                </div>
            </div>
            <div class = "row2col2">
                <div class = "aboutval">
                    The Valkyries are the female warriors responsible for taking warriors to the Valhalla upon their death in the mortal realm.
                    One of the Valkyries is described as having a beautiful long braided hair, carrying a shiny sword and a shield.<br>
                    We are a team of tech enthusiats looking to solve problems in an innovative and efficient manner. 
                    <br> Our aim is to impact the society leading to a better, safer and intelligent tomorrow.
                </div>

            </div>
            <div class = "row2col3">
                <div class = "contactinfo">
                    Email: valkyrie.dj@gmail.com
                </div>
            </div>

        <!-- </div>
        <div class="aboutusrow" style="flex-basis: 20%;">

        </div> -->
    </div>
</div>