<div class="main">
    <div class="formcard">
        <form [formGroup]="form" class="input">
            <mat-form-field appearance="fill" class="ip">
                <mat-label class="entrylabel">Select Health condition</mat-label>
                <mat-select [(value)]="health" class="options">
                    <mat-option value="healthy" class="options">
                        Healthy</mat-option>
                    <mat-option value="average" class="options">
                        Average</mat-option>
                    <mat-option value="bad" class="options">
                        Bad</mat-option>
                    <mat-option value="worse" class="options">
                        Worse</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="optional">
                <div class="add" (click) = "flipcheckup(ischeckup)">
                    <div class="addbutcontain">
                        <div class = "addbut" *ngIf = "!ischeckup">
                            &#x002B;
                        </div>
                        <div class = "addbut" *ngIf = "ischeckup">
                            &#x2212;
                        </div>
                    </div>
                    <div class="title">
                        Upload Checkup Schedule
                    </div>
                </div>
                <div class="ops" *ngIf = "ischeckup">
                    <input type="file" id="file" (change)="cus($event.target.files)" class="ip">
                </div>
            </div>
            <div class="optional">
                <div class="add" (click) = "flipmedrep(ismedrep)">
                    <div class="addbutcontain">
                        <div class = "addbut" *ngIf = "!ismedrep">
                            &#x002B;
                        </div>
                        <div class = "addbut" *ngIf = "ismedrep">
                            &#x2212;
                        </div>
                    </div>
                    <div class="title">
                        Upload Medical Report
                    </div>
                </div>
                <div class="ops" *ngIf = "ismedrep">
                    <input type="file" id="file" (change)="mr($event.target.files)" class="ip">
                </div>
            </div>
            <div class="optional">
                <div class="add" (click) = "flipdisease(isdisease)">
                    <div class="addbutcontain">
                        <div class = "addbut" *ngIf = "!isdisease">
                            &#x002B;
                        </div>
                        <div class = "addbut" *ngIf = "isdisease">
                            &#x2212;
                        </div>
                    </div>
                    <div class="title">
                        Disease
                    </div>
                </div>
                <div class="ops" *ngIf = "isdisease">
                    <input placeholder="Enter Disease Name" formControlName="Disease" type="text" class="ip">
                </div>
            </div>
            <div class="optional">
                <div class="add" (click) = "flipvaccination(isvaccination)">
                    <div class="addbutcontain">
                        <div class = "addbut" *ngIf = "!isvaccination">
                            &#x002B;
                        </div>
                        <div class = "addbut" *ngIf = "isvaccination">
                            &#x2212;
                        </div>
                    </div>
                    <div class="title">
                        Vaccination
                    </div>
                </div>
                <div class="ops" *ngIf = "isvaccination">
                    <input type="file" id="file" (change)="vs($event.target.files)" class="ip">
                    <textarea placeholder="Enter Vaccination Description" formControlName="VaccinationDescription" type="text" class="ip"></textarea>
                    <input placeholder="Enter Vaccination Date" formControlName="VaccinationDate" type="text" class="ip">
                </div>
            </div>
            <div class="optional" *ngIf = "canbepregnant">
                <div class="add" (click) = "flippregnancy(ispregnancy)">
                    <div class="addbutcontain">
                        <div class = "addbut" *ngIf = "!ispregnancy">
                            &#x002B;
                        </div>
                        <div class = "addbut" *ngIf = "ispregnancy">
                            &#x2212;
                        </div>
                    </div>
                    <div class="title">
                        Pregnancy
                    </div>
                </div>
                <div class="ops" *ngIf = "ispregnancy">
                    <input placeholder="Enter Due Date" formControlName="PregnancyDueDate" type="text" class="ip">
                <input type="file" id="file" (change)="pcs($event.target.files)" class="ip">
                <textarea placeholder="Enter Medication details" formControlName="PregnancyMedicationDetails" type="text" class="ip"></textarea>
                </div>
            </div>
        </form>
        <div style="display: flex; justify-content: space-evenly; width: 100%;">
            <div class="button" (click)="submit()">
                Submit
            </div>
            <div class="button" (click)="history()">
                Check Health Record History
            </div>
        </div>
    </div>
</div>