<div class = "main">
    <div class = "content">
        <div class = "buttons">
            <a routerLink="/animalwelfare/healthsystem" class = "button">
                Health System
            </a>
        </div>
        <div class = "buttons">
            <a routerLink="/animalwelfare/feed" class = "button">
                Feed Management
            </a>
        </div>
        <div class = "buttons">
            <a routerLink="/animalwelfare/cleanliness" class = "button">
                Waste Management
            </a>
        </div>
        <div class = "buttons">
            <a routerLink="/animalwelfare/library" class = "button">
                Library
            </a>
        </div>
    </div>
</div>