.main{
    min-height: 94vh;
    //background-color: rgb(146, 68, 68, 0.5);
    background-image: url(../../assets/images/bg5.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    width: 70vw;
    height: 50vh;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.buttons{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

.button{
    margin: 10%;
    height: 80%;
    background-color: var(--color5);
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
    cursor: pointer;
    font-size: 300%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button:hover{
    box-shadow: none;
    background-color: var(--color5l);
}