<link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
<div class="main">
  <div style="width: 100%; background-color: var(--color4); height: 100%;">
    <div class="jumbotron j1">
      <div class="col-sm-3 img1">
        <img src="../assets/images/cow1.jpg" alt="" class="src"
          style="width:300px;height:400px; border:2px solid #f1f1f1">
      </div>
      <div class="title">"For healthy and lively livestock."</div>
      <div class="col-sm-6 vid" style="border: none;">
        <!-- <br> -->
        <!-- <h1 style="color:white;font-size: xx-large; font-weight: bold;">Lively For Livestock</h1> -->
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0kJzIxAAjjc" class="vid"></iframe>
        <!-- <br> -->
      </div>
      <div class="col-sm-3 img2">
        <img src="../assets/images/lamb.jpg" alt="" class="src"
          style="width:300px;height:400px; border:2px solid #f1f1f1">
      </div>
      <br>
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
      <!-- <div class="jumbotron"> -->
      <!-- <div class="container" style="color:white"> -->
      <!-- <div class="row"> -->
      <div class="col-sm-4 img3">
        <img src="../assets/images/kid.jpg" alt="" class="src"
          style="width:300px;height:200px; border:2px solid #f1f1f1">
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
  <div class="about">
    <div class = "abouttitle">What is Lively?</div>
    <div class = "aboutcontent">An app for livestock was never made in india because there was no means for the farmers and the livestock
      managers to use it. As our country is progressing and internet and other facilities can now be used by
      people living in villages as well. Now we can provide technical help to those in need there. One such help
      needed is livestock management. Our app Aims to provide the means to fulfil the needs of the livestock
      managers and farmers.</div>
  </div>
  <div class="jumbotron j2" style="background-color: var(--color2d); padding:0">
    <div class="container text-center" style="color:white">
      <br>
      <p style="font-size: xx-large; padding: 2% 0%;">SERVICES WE OFFER</p>


      <div class="row">
        <div class="col-sm-6" style="background-color: var(--color4d);">
          <span class="glyphicon glyphicon-off logo-small"></span>
          <h4>Inventory</h4>
          <p>Stores data about Farm Animals like type, breed, number</p>
        </div>
        <div class="col-sm-6" style="background-color: var(--color3d);">
          <span class="glyphicon glyphicon-heart logo-small"></span>
          <h4>Animal Welfare</h4>
          <p>Stores data about animal health condition, diseases</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6" style="background-color: var(--color3d);">
          <span class="glyphicon glyphicon-leaf logo-small"></span>
          <h4>Community Connect</h4>
          <p>A forum to connect with doctors, ngos and farmers</p>
        </div>
        <div class="col-sm-6" style="background-color: var(--color4d);">
          <span class="glyphicon glyphicon-certificate logo-small"></span>
          <h4>Farm Affairs</h4>
          <p>Shows the farm performance based onlike health, gender</p>
        </div>

      </div>
    </div>
  </div>
  <footer class="container-fluid text-center" style="color: white;">
    <p>Lively Copyright</p>
  </footer>
</div>



<!-- <div class="container">
    <img src="../assets/images/home-bg-2.jpg" alt="Snow" style="width:100%; height:450px ;  filter: blur(5px);
    -webkit-filter: blur(5px);">
    <div class="centered" >
      <h1 style="font-size: xx-large; font-weight: bold;border: 3px solid #f1f1f1;width: 100%;padding: 50px;">Lively For Livestock</h1>
    </div>
 
    
  </div> -->




<!-- <span class="glyphicon glyphicon-heart logo-small"></span>
    <h1>What is Lively?</h1>
    <p>An app for livestock was never made in india because there was no means for the farmers and the livestock managers to use it. As our country is progressing and internet and other facilities can now be used by people living in villages as well. Now we can provide technical help to those in need there. One such help needed is livestock management. Our app Aims to provide the means to fulfil the needs of the livestock managers and farmers.</p>
     -->


<!-- <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>Our Values</h2>
        <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
        <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center bg-grey">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../assets/images/inventory.jpg" alt="Paris">
          <p><strong>Animal Inventory</strong></p>
          <p>Yes, we built Paris</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../assets/images/community_connect.jpg" alt="New York">
          <p><strong>Community Connect</strong></p>
          <p>We built New York</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../assets/images/welfare_cow.jpg" alt="San Francisco">
          <p><strong>Animal Welfare</strong></p>
          <p>Yes, San Fran is ours</p>
        </div>
      </div>
  </div>
<br><br>
  <div class="row text-center " >
    <div class="col-sm-4">
      <div class="thumbnail" style="width: 100%; height: 70%;">
        <img src="../assets/images/affairs1.jpg" alt="Paris">
        <p><strong>Farm Affairs</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail" style="width: 100%; height: 70%;">
        <img src="../assets/images/profile.jpg" alt="New York">
        <p><strong>Farmer Profile</strong></p>
        <p>We built New York</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail" style="width: 100%; height: 70%;">
        <img src="../assets/images/guide.jpg" alt="New York">
        <p><strong>Guide</strong></p>
        <p>We built New York</p>
      </div>
    </div>
  </div>
</div> -->