<div class = "main">
  <div class="jumbotron text-center">
  
      <h1>Lively For Livestock</h1>
      <p>Virtual Assistant for Livestock Health Management</p>
 
    
  </div>

  

  

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>Our Values</h2>
        <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
        <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center bg-grey">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../assets/images/inventory.jpg" alt="Paris">
          <p><strong>Animal Inventory</strong></p>
          <p>Yes, we built Paris</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../assets/images/community_connect.jpg" alt="New York">
          <p><strong>Community Connect</strong></p>
          <p>We built New York</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../assets/images/welfare_cow.jpg" alt="San Francisco">
          <p><strong>Animal Welfare</strong></p>
          <p>Yes, San Fran is ours</p>
        </div>
      </div>
  </div>
<br><br>
  <div class="row text-center " >
    <div class="col-sm-4">
      <div class="thumbnail" style="width: 100%; height: 70%;">
        <img src="../assets/images/affairs1.jpg" alt="Paris">
        <p><strong>Farm Affairs</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail" style="width: 100%; height: 70%;">
        <img src="../assets/images/profile.jpg" alt="New York">
        <p><strong>Farmer Profile</strong></p>
        <p>We built New York</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail" style="width: 100%; height: 70%;">
        <img src="../assets/images/guide.jpg" alt="New York">
        <p><strong>Guide</strong></p>
        <p>We built New York</p>
      </div>
    </div>
  </div>
</div>

  

  <!-- <div class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <span class="glyphicon glyphicon-off logo-small"></span>
        <h4>Inventory</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-6"> 
        <span class="glyphicon glyphicon-heart logo-small"></span>
        <h4>Animal Welfare</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
    </div>
  
      <br><br>
    <div class="row">
      <div class="col-sm-6">
        <span class="glyphicon glyphicon-leaf logo-small"></span>
        <h4>Community Connect</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      <div class="col-sm-6">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <h4>Farm Affairs</h4>
        <p>Lorem ipsum dolor sit amet..</p>
      </div>
      
    </div>
  </div>
   -->
    
</div>

