/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
   }

:root {
    --color1d: rgb(12, 24, 18);
   --color1: rgb(31,59,44);
   --color1l: rgb(51, 97, 72);
   --color2d: rgb(57, 83, 70);
   --color2: rgb(88,128,107);
   --color2l: rgb(122, 179, 149);
   --color3d: rgb(110, 97, 83);
   --color3: rgb(157,138,118);
   --color3l: rgb(207, 181, 154);
   --color4d: rgb(168, 130, 122);
   --color4: rgb(229,176,164);
   --color4l: rgb(255, 196, 183);
   --color5d: rgb(219, 195, 219);
   --color5: rgb(245,243,245);
   --color5l: rgb(255, 236, 255);
//    --color6: rgb(255, 188, 218);
//    --color7: rgb(229, 214, 200); 
}