/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
   }

:root {
   --vt1: rgb(118,89,111);
   --vt2: rgb(163,134,154);
   --vt3: rgb(210,201,220);
   --gr1: rgb(108,108,108);
   --gr2: rgb(176,170,174);
}